<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h1>Registro De Los Productos</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Id</th>
    <th>Nombre Del Producto</th>
    <th>Precio Del Producto</th>
    <th>Descripcion Del Producto</th>
    <th>Descuento Del Producto</th>
  </tr>
  <tr>
    <td>1</td>
    <td>[[${nombre}]]</td>
    <td>[[${precio}]]</td>
    <td>[[${descripcion}]]</td>
    <td>[[${descuento}]]</td>
  </tr>
</table>
</body>
</html>